---
import features from '../../config/features.json';
console.log(features);
---

<h1 class="text-center font-bold text-4xl mt-4">Features</h1>

<div class="grid md:grid-cols-3 gap-3 p-4">
    {
        features.map((feature)=>(
            <div class="bg-slate-800 p-10 rounded-3xl">
                <h2 class="text-2xl mb-3">{feature.title}</h2>
                <p>{feature.description}</p>
            </div>
        ))
    }
</div>