---
import Layout from "../layouts/Layout.astro"
---

<Layout title="About">
    <h1>About</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ut quas, minima nam in repellendus est quod expedita id libero rem pariatur porro sit, laboriosam, eum cum. Cumque, minus neque?</p>
</Layout>y