<section class="bg-zinc-600 p-20 rounded-2xl my-3 text-center">
    <h2 class="text-3xl font-bold my-5">About Us</h2>
    <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam eveniet eaque optio accusamus est illo repellat suscipit animi esse!</p>
</section>